/*style_index.css*/
body{
	background-image:url("images/bg.jpg");
	background-size:100%;
	-webkit-animation: myfirst5 20s infinite; /* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	animation: myfirst5 3s infinite;
	animation-direction: alternate;
	-moz-animation: myfirst 30s infinite;
	-moz-animation-direction: alternate;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst5 {
	0%   {background-image: url("images/bg.jpg"); }
	20%   {background-image: url("images/bg1.jpg"); }
	40% {background-image: url("images/bg.jpg"); }
	60%   {background-image: url("images/bg1.jpg"); }
	80% {background-image: url("images/bg.jpg"); }
	100% {background-image: url("images/bg1.jpg"); }
}
@keyframes myfirst5 {
	0%   {background-image: url("images/bg.jpg"); }
	20%   {background-image: url("images/bg1.jpg"); }
	40% {background-image: url("images/bg.jpg"); }
	60%   {background-image: url("images/bg1.jpg"); }
	80% {background-image: url("images/bg.jpg"); }
	100% {background-image: url("images/bg1.jpg"); }
}

#bungkus table{
	margin-top:90px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:-50px;
}
#bungkus table td{
	padding-left:20px;
	padding-right:20px;
}
#gambar{
	width:275px;
	height:170px;
	margin-bottom:30px;
	border-radius:5px;
	background-image: url("images/Mug.jpg");
	-webkit-animation: myfirst 20s infinite; /* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	animation: myfirst 3s infinite;
	animation-direction: alternate;
	-moz-animation: myfirst 10s infinite;
	-moz-animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
	0%   {background-image: url("images/Mug.jpg"); }
	20%  {background-image: url("images/jam.jpg"); }
	40%  {background-image: url("images/handuk.jpg"); }
	60%  {background-image: url("images/und.jpg"); }
	80%  {background-image: url("images/kalender.jpg"); }
	100% {background-image: url("images/und.jpg"); }
}
@keyframes myfirst {
	0%   {background-image: url("images/Mug.jpg"); }
	20%  {background-image: url("images/jam.jpg"); }
	40%  {background-image: url("images/handuk.jpg"); }
	60%  {background-image: url("images/und.jpg"); }
	80%  {background-image: url("images/kalender.jpg"); }
	100% {background-image: url("images/und.jpg"); }
}

#gambar2{
	width:275px;
	height:170px;
	margin-bottom:30px;
	border-radius:5px;
	background-image: url("images/jam.jpg");
	-webkit-animation: myfirst3 20s infinite; /* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	animation: myfirst3 3s infinite;
	animation-direction: alternate;
	-moz-animation: myfirst3 10s infinite;
	-moz-animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst3 {
	0%   {background-image: url("images/jam.jpg"); }
	20%  {background-image: url("images/handuk.jpg"); }
	40%  {background-image: url("images/und.jpg"); }
	60%  {background-image: url("images/kalender.jpg"); }
	80%  {background-image: url("images/und2.jpg"); }
	100% {background-image: url("images/Mug.jpg"); }
}
@keyframes myfirst3 {
	0%   {background-image: url("images/jam.jpg"); }
	20%  {background-image: url("images/handuk.jpg"); }
	40%  {background-image: url("images/und.jpg"); }
	60%  {background-image: url("images/kalender.jpg"); }
	80%  {background-image: url("images/und2.jpg"); }
	100% {background-image: url("images/Mug.jpg"); }
}

#gambar3{
	width:275px;
	height:170px;
	margin-bottom:30px;
	border-radius:5px;
	background-image: url("images/handuk.jpg");
	-webkit-animation: myfirst4 20s infinite; /* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	animation: myfirst4 3s infinite;
	animation-direction: alternate;
	-moz-animation: myfirst4 10s infinite;
	-moz-animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst4 {
	0%   {background-image: url("images/handuk.jpg"); }
	20%  {background-image: url("images/und.jpg"); }
	40%  {background-image: url("images/kalender.jpg"); }
	60%  {background-image: url("images/und2.jpg"); }
	80%  {background-image: url("images/Mug.jpg"); }
	100% {background-image: url("images/jam.jpg"); }
}
@keyframes myfirst4 {
	0%   {background-image: url("images/handuk.jpg"); }
	20%  {background-image: url("images/und.jpg"); }
	40%  {background-image: url("images/kalender.jpg"); }
	60%  {background-image: url("images/und2.jpg"); }
	80%  {background-image: url("images/Mug.jpg"); }
	100% {background-image: url("images/jam.jpg"); }
}
#button{
	margin:auto;
}

#link{
	background:black;
	-webkit-transition:all .7s ease-out;
	-moz-transition:all .7s ease-out;
	-ms-transition:all .7s ease-out;
	-o-transition:all .7s ease-out;
	transition:all .7s ease-out;
	border-radius:50px;
	width:100px;
	text-align: center;
	padding:10px;
	margin-left: 400px;	
	clear:both;
	color:red;
}

#link a{
	font-weight:bold;
	text-decoration:none;
	color:red;
	-webkit-animation: myfirst2 5s infinite; /* Chrome, Safari, Opera */
	-webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
	animation: myfirst2 3s infinite;
	animation-direction: alternate;
	-moz-animation: myfirst2 10s infinite;
	-moz-animation-direction: alternate;
}
@-webkit-keyframes myfirst2 {
	0%   {color: red; }
	20%  {color: lightblue; }
	40%  {color: green; }
	60%  {color: pink; }
	80%  {color: blue; }
	100% {color: white; }
}
@keyframes myfirst2 {
	0%   {color: red; }
	20%  {color: lightblue; }
	40%  {color: green;}
	60%  {color: pink; }
	80%  {color: blue; }
	100% {color: white; }
}
#link:hover{
	font-weight:bold;
	background:yellow;
	-webkit-transition:all .7s ease-out;
	-moz-transition:all .7s ease-out;
	-ms-transition:all .7s ease-out;
	-o-transition:all .7s ease-out;
	transition:all .7s ease-out;
}